# SPDX-License-Identifier: GPL-2.0-or-later
# Overlay on arch/arm/configs/k4_defconfig.
CONFIG_ATH6KL_DEBUG=y
CONFIG_CHARGER_K4_MC13892_MONITOR=y
CONFIG_DMATEST=m
CONFIG_IMX50_OCRAM_PROBE=y
CONFIG_K4_BOOT_TRACE=y
CONFIG_K4_DIAGNOSTICS=y
CONFIG_K4_DISPLAY_CLOCK_PROBE=y
CONFIG_K4_EPDC_ID_PROBE=y
CONFIG_K4_EPDC_IMAGE_TEST=y
CONFIG_K4_MC13892_ID_PROBE=y
CONFIG_K4_PAPYRUS_MONITOR=y
CONFIG_K4_PAPYRUS_POWER_TEST=y
CONFIG_K4_PAPYRUS_TEMPERATURE=y
CONFIG_K4_PM_RAM_TRACE=y
CONFIG_K4_PXP_CLIENT_TEST=y
CONFIG_K4_PXP_STATE_PROBE=y
CONFIG_USB_TEST=m
